{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Protest+Guerrilla&family=Protest+Strike&display=swap" rel="stylesheet">
  <title>Julio_Page</title>
</head>

<body>
  <header>
    <div>
      {% include "layaouts/partials/logo.html" %}
      {% include "layaouts/partials/menu.html"%}
    </div>
  </header>
  {% block content %}{% endblock  %}
</body>

</html>